<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/MasterCP/src/com/crm/provisioning/impl/quizquestion/Viettel8x26Connection.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.crm.provisioning.impl.quizquestion.Viettel8x26Connection"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="MasterCP"/>
</launchConfiguration>
